
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="CreateRole">Create Role</a>
<br />
<a asp-action="GetAllRoles">Get All Roles</a>
<br />
<a asp-action="AddRoleToUser">Add Role To User</a>